.cart-container {
    background-color: white;
    padding: 20px;
    margin: 15px;
}

.cart-container h2 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 30px;
}


.cart-item-container {
    display: grid;
    grid-template-columns: 2fr 3fr 0.5fr;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.cart-item-container img {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cart-item-price {
    font-size: 16px;
    color: #868889;
    font-weight: bold;
}

.add-delete-btns {
    display: flex;
    gap: 8px;
}

.total {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.place-order-button {
    width: 100%;
    margin-top: 10px;
}